# Data Visualization

# Behnam Farhadi - 201994394

## 19 Sep 2021

I did this exercise indivisually

### Assignment 1   –  Computer Science 4304 / 6934

In [122]:
import pandas as pd

In [123]:
df = pd.read_csv('students.csv')

In [124]:
df.head()

,REF_DATE,GEO,Institution type,Registration status,International Standard Classification of Education (ISCED),Field of study,Gender,Status of student in Canada,VALUE
0,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Male gender,Canadian students,129.0
1,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Male gender,International students,3.0
2,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Female gender,Canadian students,243.0
3,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Female gender,International students,3.0
4,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Gender unknown,Canadian students,3.0

In [125]:
df.describe()

              VALUE
count   6221.000000
mean     346.457804
std     1655.118043
min        0.000000
25%        3.000000
50%       21.000000
75%      126.000000
max    49371.000000

### Question 1: (10 pts)
### Write code that finds the number of unique fields of study

In [126]:
df['Field of study'].nunique()

14

In [127]:
len(df)

6221

### Question 2: (10 pts)
### Write code that lists all the unique degree types in the International Standard Classification of Education (ISCED) field.

In [128]:
df['International Standard Classification of Education (ISCED)'].unique()

array(["Bachelor's or equivalent", "Master's or equivalent",
       'Doctoral or equivalent', 'Post-secondary non-tertiary education',
       'Short-cycle tertiary education',
       'Not applicable, International Standard Classification of Education (ISCED)',
       'Upper secondary education'], dtype=object)

### Question 3: (10 pts)
### Write code to determine the number of entries in the data set that have institution type of University or College.

In [129]:
df['Institution type'].value_counts()

University    3567
College       2654
Name: Institution type, dtype: int64

### Question 4: (15 pts)
### Write code that computes the total number of students enrolled in Newfoundland and Labrador (hint: 24 777).

In [130]:
df['GEO'].unique()

array(['Newfoundland and Labrador', 'Prince Edward Island', 'Nova Scotia',
       'New Brunswick', 'Quebec', 'Ontario', 'Manitoba', 'Saskatchewan',
       'Alberta', 'British Columbia', 'Territories'], dtype=object)

In [131]:
df1= df[df['GEO'].str.contains('Newfoundland and Labrador')]

In [132]:
df1['VALUE'].sum()

24777.0

In [133]:
df

,REF_DATE,GEO,Institution type,Registration status,International Standard Classification of Education (ISCED),Field of study,Gender,Status of student in Canada,VALUE
0,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Male gender,Canadian students,129.0
1,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Male gender,International students,3.0
2,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Female gender,Canadian students,243.0
3,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Female gender,International students,3.0
4,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Gender unknown,Canadian students,3.0
...,...,...,...,...,...,...,...,...,...
6216,2018/2019,Territories,College,Part-time student,"Not applicable, International Standard Classif...",Unclassified,Male gender,"Not reported, status of student in Canada",144.0
6217,2018/2019,Territories,College,Part-time student,"Not applicable, International Standard Classif...",Unclassified,Female gender,Canadian students,810.0
6218,2018/2019,Territories,College,Part-time student,"Not applicable, International Standard Classif...",Unclassified,Female gender,"Not reported, status of student in Canada",246.0
6219,2018/2019,Territories,College,Part-time student,"Not applicable, International Standard Classif...",Unclassified,Gender unknown,Canadian students,216.0
6220,2018/2019,Territories,College,Part-time student,"Not applicable, International Standard Classif...",Unclassified,Gender unknown,"Not reported, status of student in Canada",72.0

### Question 5: (15 pts)
### Write code that computes the number of female and number of male students enrolled at Memorial University of Newfoundland (hint: institution type = University, GEO = Newfoundland and Labrador).

In [134]:
Male = df[df["GEO"].str.contains('Newfoundland and Labrador') & df['Institution type'].str.contains('University') & df['Gender'].str.contains('Male gender')]

MaleGender = Male ['VALUE'].sum()

print ("The male Gender Number:" ) 
MaleGender

The male Gender Number:

7656.0

In [135]:
Female = df[df["GEO"].str.contains('Newfoundland and Labrador') & df['Institution type'].str.contains('University') & df['Gender'].str.contains('Female gender')]
FemaleGender = Female ['VALUE'].sum()
print ("The Female Gender Number:" ) 

FemaleGender

The Female Gender Number:

10080.0

Total Number of Student

In [136]:
Total = MaleGender + FemaleGender
print (Total)

17736.0

### Question 6: (10 pts)
### Turn your notebook into a document with text. Using Markdown, add an appropriate title to the top of the notebook, along with your name and date. Add appropriate sub-headings before your answers to each of the questions.